Formregistro/web/WEB-INF/wsdl/localhost_8080/WebSerivce/Servicio.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WService/">

<xs:element name="hello" type="tns:hello" />

<xs:element name="helloResponse" type="tns:helloResponse" />

<xs:element name="limpiar" type="tns:limpiar" />

<xs:element name="limpiarResponse" type="tns:limpiarResponse" />

<xs:element name="returnlista" type="tns:returnlista" />

<xs:element name="returnlistaResponse" type="tns:returnlistaResponse" />

<xs:element name="verificacion" type="tns:verificacion" />

<xs:element name="verificacionResponse" type="tns:verificacionResponse" />

<xs:complexType name="verificacion">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="nombremedico" type="xs:string" minOccurs="0" />
<xs:element name="codigomedico" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificacionResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="returnlista">
<xs:sequence />
</xs:complexType>

<xs:complexType name="returnlistaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="limpiar">
<xs:sequence />
</xs:complexType>

<xs:complexType name="limpiarResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>